@using System.Web.Mvc.Html
@model IEnumerable<LearningSystem.Models.ViewModels.Courses.CourseViewModel>
@{
    ViewBag.Title = "Learning System :)";
}


<h2>Welcome to the Learning System</h2>

@foreach (var vm in Model)
{
    <div class="course">

        <span class="course-prop">
            @Html.DisplayNameFor(coursevm => coursevm.Name):
        </span>
        @Html.DisplayFor(coursevm => vm.Name)
        <br />

        @Html.ActionLink("Details", "Details", "Courses", new { id = vm.Id }, new { @class = "btn btn-default" })

    </div>

}
